/* Everything */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0E0E0E;
    color: white;
}

ul {
    margin-block-start: 0;
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

/* Header */
/*
header {
    position: fixed;
    z-index: 999;
    background-color: black;
    width: 100%;
}
*/

/* Navigation Menu */
nav#navmenu_wrapper {
    text-align: center;
    margin-top: 3vh;
}
ul#navmenu li {
    list-style-type: none;
    text-align: center;
    font-size: 1.1vw;
    display: inline-block;
    padding: 0.7vw;
    margin: 0.1vw;
    background-color: #1f1f1f;
    border-radius: 0.3vw;
    width: 7vw;
}
ul#navmenu li:hover {
    background-color: #2f2f2f;
}
ul#navmenu li#current {
    border: 1px solid white;
}

/* Introduction */
#introduction_name {
    font-size: 2vw;
    margin: 0.5vw;
}
#introduction_description {
    font-size: 1vw;
    margin: 0.5vw;
}
.introduction_highlight {
    font-size: 1.2vw;
}

/* Content Wrapper */
#content {
    margin: 5vh 0.3vw 5vh 0.3vw;
}

/* Content Shelves */
#content_shelf {
    margin: 0vh 1vw 5vh 1vw;
    text-align: center;
    align-content: center;
}
#content_header {
    font-size: 1.2vw;
    font-style: italic;
    margin-bottom: 2vh;
    text-align: left;
}
.content_image {
    display: inline-block;
    margin: 0vh 1vw 0vh 1vw;
    width: 24vw;
}
.content_readmore {
    display: inline-block;
    position: relative;
    text-align: center;
    color: black;
}
.content_readmore:hover > .content_readmorepanel {
    visibility: visible;
}
.content_readmore:hover > .content_projecttitle {
    visibility: visible;
}
.content_readmore:hover > .content_image {
    filter: brightness(50%);
}
.content_readmorepanel {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: goldenrod;
    text-align: center;
    font-size: 1.1vw;
    padding: 0.7vw;
    border-radius: 0.3vw;
    width: 7vw;
}
.content_readmorepanel:hover {
    background-color: #e9b227;
}
.content_projecttitle {
    visibility: hidden;
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-size: 3vh;
    color: white;
    background-color: #1f1f1f;
    padding: 0.3vw;
}

/* Socials */
div#social_wrapper {
    text-align: center;
}
ul#social li {
    list-style-type: none;
    -webkit-filter: invert(100%);
    padding: 0.7vw;
    margin: 0vw;
    text-align: center;
    display: inline-block;
}
ul#social li:hover {
    -webkit-filter: invert(70%);
}
.social_icon {
    width: 3vw;
}

/* Footer */
footer {
    color: #757575;
    text-align: center;
    font-size: 1vw;
}

/*#################*/
/*Mobile and Tablet*/
@media (min-width: 320px) and (max-width: 769px) {

    /* Navigation Menu */
    ul#navmenu li {
        font-size: 4.3vw;
        padding: 1.3vh 1vw 1.3vh 1vw;
        margin: 0.1vw 0.1vw 1vw 0.1vw;
        border-radius: 0.5vw;
        width: 35vw;
    }

    /* Introduction */
    #introduction_name {
        font-size: 6vw;
        margin: 0.5vw;
    }
    #introduction_description {
        font-size: 3.8vw;
        margin: 0.5vh 0.5vw 2vh 0.5vw;
    }
    .introduction_highlight {
        font-size: 4vw;
    }

    /* Content Wrapper */
    #content {
        margin: 1vh 0.3vw 1vh 0.3vw;
    }

    /* Content Shelves */
    #content_shelf {
        margin: 0vh 1vw 5vh 1vw;
        text-align: center;
        align-content: center;
    }
    #content_header {
        font-size: 4.5vw;
        font-style: italic;
        margin-bottom: 2vh;
        text-align: left;
    }
    .content_image {
        display: inline-block;
        margin: 0vh 1vw 2vh 1vw;
        width: 80vw;
    }
    .content_readmorepanel {
        font-size: 5vw;
        padding: 1.5vw 0.7vw 1.5vw 0.7vw;
        border-radius: 1vw;
        width: 35vw;
    }
    .content_projecttitle {
        top: 2vh;
        left: 4vw;
        font-size: 3vh;
        padding: 0.5vw;
    }

    /* Socials */
    ul#social li {
        padding: 1vw;
    }
    .social_icon {
        width: 10vw;
    }

    /* Footer */
    footer {
        color: #757575;
        text-align: center;
        font-size: 3vw;
    }
}

/*#######*/
/*Desktop*/
@media (min-width: 770px) {

}
