/* Everything */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0E0E0E;
    color: white;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#social ul li {
    list-style-type: none;
    -webkit-filter: invert(100%);
    display: inline-block;
    text-align: center;
    align-content: center;
    position: relative;
    padding: 5px;
}

/* Links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

/* Footer */
footer {
    color: #757575;
    text-align: center;
}

/*#################*/
/*Mobile and Tablet*/
@media (min-width: 320px) and (max-width: 769px) {
    body {
        /*Mobile and Tablet body*/
    }
}

/*#######*/
/*Desktop*/
@media (min-width: 770px) {
    body {
        /*Desktop body*/
    }
}
