/* Everything */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #0E0E0E;
    color: white;
}

ul {
    margin-block-start: 0;
    margin: 0;
    padding: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

/* Navigation Menu */
nav#navmenu_wrapper {
    text-align: center;
}
ul#navmenu li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 0px;
    background-color: #1f1f1f;
    border-radius: 5px;
    width: 100px;
}
ul#navmenu li:hover {
    background-color: #2f2f2f;
}

/* Introduction */
#introduction_name {
    font-size: 30px;
    margin: 5px;
}
#introduction_description {
    font-size: 14px;
    margin: 5px;
}

/* Content Wrapper */
#content {
    margin: 30px 5px 30px 5px;
}

/* Content Shelves */
#content_shelf {
    margin-bottom: 30px;
}
#content_header {
    font-size: 18px;
    font-style: italic;
}

/* Socials */
div#social_wrapper {
    text-align: center;
}
ul#social li {
    list-style-type: none;
    -webkit-filter: invert(100%);
    padding: 5px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}
ul#social li:hover {
    -webkit-filter: invert(70%);
}

/* Footer */
footer {
    color: #757575;
    text-align: center;
}

/*#################*/
/*Mobile and Tablet*/
@media (min-width: 320px) and (max-width: 769px) {
    body {
        /*Mobile and Tablet body*/
    }
}

/*#######*/
/*Desktop*/
@media (min-width: 770px) {
    body {
        /*Desktop body*/
    }
}
